<div class="row">
  <div class="col-sm-8">
    <h2>
      Posts
      <button ng-click="loadPosts()" class="btn btn-success glyphicon glyphicon-refresh pull-right"></button>
      <button ng-click="createPost()" class="btn btn-primary glyphicon glyphicon-plus pull-right"></button>
    </h2>
    <table class="table">
      <thead>
        <tr>
          <th>Id</th>
          <th>Title</th>
          <th>Created</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="post in posts">
          <td>{{post.id}}</td>
          <td><a ng-href="/post/{{post.id}}">{{post.title}}</a></td>
          <td>{{post.createdAt}}</td>
          <td>
            <button ng-click="deletePost(post.id)" class="btn btn-danger btn-xs glyphicon glyphicon-trash"></button>
            <button ng-click="showPost(post.id)" class="btn btn-primary btn-xs glyphicon glyphicon-eye-open"></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-sm-4">
    <div class="chat-window" ng-controller="ChatCtrl">
      <h3>Chat Room</h3>
      <form ng-submit="joinRoom()" ng-hide="user" class="form">
        <div class="form-group">
          <input type="text" ng-model="name" placeholder="Enter your name">
        </div>
        <button class="btn btn-primary">Join Room</button>
      </form>
      <ul ng-show="user" class="chat-list">
        <li ng-repeat="msg in messages">
          <b>{{msg.from}}:</b> {{msg.msg}}
        </li>
      </ul>
      <form ng-show="user" ng-submit="sendMsg()" class="inline-form">
        <input type="text" ng-model="chatMsg" placeholder="Enter something to say">
        <button class="btn btn-primary">Send</button>
      </form>
    </div>
  </div>
</div>